@charset "utf-8";
/*
 *  portions adapted from:
 *  - Chris Coyier [https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/]
 *  - Dom (dcode) at [https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l]
 *  - [https://css-tricks.com/styling-code-in-and-out-of-blocks/]
 */
.wiki table {
    border: 1px solid #dfdfff;
    border-collapse: collapse;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.wiki table .merged_cols {
  text-align: center;
}

.wiki table .merged_rows {
  vertical-align: middle;
}

.wiki table th {
  text-align: left !important;
  min-width: 100px;
  background-color: #f9f9f9;
  border: none;
}

.wiki table td {
  border-top: 1px solid #dfdfff;
  border-right: 1px solid #dfdfff;
  padding: 7px 25px 7px 5px;
  margin: 5px;
  text-align: left;
  background-color: #f3f3f3;
}

.wiki table tbody tr:first-child td {
  border-top: 1px solid black;
}

.wiki table tfoot tr:first-child td {
  border-top: 1px solid black;
}

.wiki table tfoot td {
  border: none;
  background-color: #f3f3f3;
  font-weight: bold;
}

.wiki blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.wiki blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.wiki blockquote p {
  display: inline;
}

/* For all <code> */
.wiki code {
  font-family: monospace;
  font-size: inherit;
  background: #dfdfff;
}

/* Code in text */
.wiki p > code,
.wiki li > code,
.wiki dd > code,
.wiki td > code {
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .25rem;
}

.wiki h1 > code,
.wiki h2 > code,
.wiki h3 > code,
.wiki h4 > code,
.wiki h5 > code {
  padding: .0rem .2rem;
  border-radius: .5rem;
  background: inherit;
  border: thin black solid;
}

.wiki .pre {
    font-family: monospace;
    font-size: inherit;
    white-space: pre;
    background-color: #eeeeee;
    }

.wiki pre {
  display: inline;
}

.wiki pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
  border: thin black solid;
  border-radius: .2rem;
}

.wiki sup {
  padding: 0px 3px;
  }

.wiki .footnote {
  padding: 5px 0px;
  }

*
.wiki ol,
.wiki ul {
    padding: 0px 15px;
}

.wiki li {
  padding: 2px;
}

.wiki h1 { 
    display: block !important;
    font-size: 2em !important;
    margin-top: 0.25em !important;
    margin-bottom: 0em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.wiki h2 {
    display: block !important;
    font-size: 1.5em !important;
    margin-top: 1.25em !important;
    margin-bottom: 0em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.wiki h3 { 
    display: block !important;
    font-size: 1.25 !important;
    margin-top: 1.25em !important;
    margin-bottom: 0em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.wiki h4 { 
    display: block !important;
    font-size: 1.0em !important;
    margin-top: 1.25em !important;
    margin-bottom: 0em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
    font-style: italic !important;
}
